<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
        <ol>
          <li>Pass a string of a date in either natural language format or unix format</li>
          <li>The API will return both the unix and natural format of the given date</li>          
        </ol>
         <h3>Example Input</h3>
        <h3>
          Example Output
        </h3>
      </div>
   </body>

</html>
